//----------------------------------------------
// Html5 Boilerplate overrides
//----------------------------------------------
$line-height: 1.4;  // 1.4 for true normalization
$font-color: #333;
$font-family: sans-serif;
$font-size: 13px;

$link-color: #3A6DAA;
$link-hover-color: #3A6DAA;
$link-visited-color: #3A6DAA;

$selected-font-color: #fff;
$selected-background-color: #3A6DAA;
$invalid-background-color: #f0dddd;